
* { margin: 0; padding: 0; box-sizing: border-box; font-family: Mulish;}
:root {
  --main-color: #333;
  --primary-color: #acacac;
  --icon-color: #525252;
}

body { background: linear-gradient(103.49deg,#ffffff -28.13%,rgba(242, 247, 255, 0.5) 116.84%)}
audio::-webkit-media-controls-play-button,audio::-webkit-media-controls-panel {background-color:lightbule;color: #fff;}

.nav {width: 100%;line-height: 10rem;display: grid;grid-template-columns: 1fr 1fr;transform: rotate(-0.05deg); }
.nav-bottom{display:none}

.continue {display: flex;height: inherit;align-items: center;}
.continue .arrow-icon {width: 2.2rem;height: 2.2rem;}
.continue h1 {font-style: normal;font-weight: bold;font-size: 2rem;text-transform: capitalize;color: rgba(41, 41, 41, 1);margin-bottom: 1rem;}
.todo{ display: flex; text-align: end; margin-right: 2rem; align-items: center; position: relative; justify-content: flex-end;}
.todo button {background-color: #99cbf7; border: none;color: #fff;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px; border-radius: 3px;}

.continuerlist {max-width:800px; margin:0 auto;}
.continuerlist .list {margin-top: 20px;display: flex;flex-direction: column;gap: 20px; }
.continuerlist .list .toDo {background-color: #F5F5F5;display: flex;justify-content: space-between;align-items: center; height:100px; border-radius: 3px; padding: 0px 0px 0px 15px}

.continuerlist_mtop{margin-top:78px}
.todopageshow{ display: flex; text-align: end; margin-right: 2rem; align-items: center; position: relative; justify-content: flex-end; margin-top:10px}
.todopageshow button {background-color: #99cbf7; border: none;color: #fff;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px; border-radius: 3px;}
.continuerlist h1 {font-style: normal;font-weight: bold;font-size: 2rem;text-transform: capitalize;color: rgba(41, 41, 41, 1);margin-bottom: 1rem;}


.nav-add {width: 100%;line-height: 10rem;display: grid;grid-template-columns: 1fr 1fr;transform: rotate(-0.05deg); margin-top:30px; padding:0px 10px 0px 10px} 
.nav-add .continue{filter: grayscale(100%);}
.continuerlist .title {font-style: normal;font-size: 2rem;background-color: transparent;border: 0px solid;height: 20px;width: 160px;color: #CCC; width:100%; height:30px; outline: none; margin-bottom:10px} 

.text-input-editer {font-style: normal;font-size: 2rem;background-color: transparent;border: 0px solid;height: 20px;width: 160px;color: #CCC; width:100%; height:30px; outline: none; margin:10px 0px 10px 0px } 
 div:empty:not(:focus):before { content: attr(data-text);font-style: normal;font-size: 2rem;background-color: transparent;border: 0px solid;height: 20px;width: 160px;color: #CCC; width:100%; height:30px; outline: none; margin-bottom:10px}
.footer-button {position: fixed;left: 0;bottom: 60px;width: 100%;text-align: center;}
.footer-button label{padding: 20px 20px; margin:0px 20px 0px 0px; background: #99cbf7;}
.footer-button label .textediterbutton{height: 15px;width: 15px !important; mix-blend-multiply:multiply}
.footer-button label input[type="file"] {display: none;}

@media only screen and (max-width: 600px) {
  .nav {display:none;}
  .nav-bottom {width: 100%;line-height: 10rem;display: grid;grid-template-columns: 1fr 1fr;transform: rotate(-0.05deg); }
  .nav-bottom .todo{ display: flex; text-align: end;  align-items: center; position: relative; justify-content: flex-end; margin-top:20px}
  .continuerlist img {width: 365px !important;margin-top: 10px !important;} 
  .nav-add {width: 100%;line-height: 10rem;display: grid;grid-template-columns: 1fr 1fr;transform: rotate(-0.05deg); margin-top:30px; padding:0px } 
}